<span ng-if="lightslist">
	<h3><small><p class="text-right">Controlable lights: {{lights.length}}</p></small></h3>

	<div class="table-responsive" ng-if="lights.length >0">
		<table class="table table-striped table-hover table-condensed table-href">
		<thead>
			<tr>
				<th>Light name</th>
				<th>Group number</th>
				<th>Location</th>
				<th>Room</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="light in lights" ng-click="showLight(light)">
				<td><a ng-href="#/lights/{{light.lightId}}"> <strong>{{light.lightId}}</strong></a> </td>
				<td>{{light.groupNo}}</td>
				<td><i class="glyphicon glyphicon-info-sign" ></i></td>
				<td>{{light.locationX}},{{light.locationY}}</td>
				<td>{{light.roomId}}</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		</table>
	</div>
</span>

<span ng-if="error">
	<div class="alert alert-danger">{{error}}</div>
</span>
